* {
  box-sizing: border-box;
}
:root {
  --primary-color: #0f1b4c;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6em;
  font-family: "Poppins", sans-serif;
}
/* Common */
a {
  text-decoration: none;
}
.content {
  width: 1110px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 98px;
  padding: 18px 16px;
  background: var(--primary-color);
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.btn:hover {
  opacity: 0.9;
}
/* Header */
.header {
  position: relative;
  background: #e6f0ff;
  height: 100vh;
}
.navbar {
  display: flex;
  align-items: center;
  padding-top: 38px;
}
.navbar ul {
  display: flex;
  margin-left: 50px;
}
.navbar .action {
  margin-left: auto;
}
.navbar ul a {
  font-weight: 500;
  font-size: 1.4rem;
  color: #4f5361;
  padding: 8px 14px;
}
.navbar .action-link {
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--primary-color);
  margin-right: 18px;
}
.navbar .action-btn {
  padding: 13px 16px;
}
.navbar ul a:hover {
  text-decoration: underline;
}
/* Hero */
.hero {
  margin-top: 130px;
}
.hero .sub-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #687690;
}
.hero .title {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;

  color: #000336;
  margin-top: 8px;
}
.hero .info {
  width: 51%;
}
.hero .decs {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
  margin-top: 30px;
  color: #5a6473;
}
.hero .hero-cta {
  min-width: 170px;
  margin-top: 40px;
}
.hero-img {
  position: absolute;
  right: calc((100vw - 1110px) / 2 - 100px);
  bottom: 0px;
}
